 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>todo app</title>
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <div class="text center">
                    <a href="/bitch" class="nav-brand ext-dark">User managment system</a>
                </div>
            </div>
        </nav>
    </header>

    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i> All users</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">update user</h2>
                <span class="text-light">update an account </span>
            </div>

            <form  method="POST" id="update_user">
                <div class="new_user">
                    <div class="form-group">
                        <label for="name" class="text-light">name</label>
                        <input type="hidden" name="id" value="<%= user._id%>">
                        <input type="text" name="name" value="<%= user.name%>" placeholder="Alireza Dalvand">
                    </div>
                    <div class="form-group">
                        <label for="Email" class="text-light">Email</label>
                        <input type="text" name="Email" value="<%= user.email%>" placeholder="example@gmail.com">
                    </div>
                    <div class="form-group">
                        <label for="gender" class="text-light">Gender</label>
                        <div class="radio inline">
                            <input type="radio" id="radio-2" name="gender" value="Male">
                            <label for="radio-2" class="radio-label">Male</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="radio-3" name="gender" value="Female">
                            <label for="radio-3" class="radio-label">Female</label>
                        </div>
                    </div>
                    <div class="form-group"> 
                        <label for="gender" class="text-light">status</label>
                        <div class="radio inline">
                            <input type="radio" id="radio-4" name="status" value="active">
                            <label for="radio-4" class="radio-label">active</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="radio-5" name="status" value="inactive">
                            <label for="radio-5" class="radio-label">inactive</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">save </button>
                    </div>
                    
                </div>
            </form>
            
        </div>
    </main>
</body>
</html>